#container{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    z-index: 1;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0, 0, .1);
    width: fit-content;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: 30px;
    font-size: 10px;
    margin-top: 0;
    pointer-events: auto;
}

