.productContainer{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px;
    grid-row-gap: 150px;
    grid-column-gap: 100px;
    justify-items: center;
    margin-top: 100px;
    margin-left: 150px;
}


.productImage{
    width: 150px;
    height: 150px;
}